body {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 100px;
    font-size: 18px;
    background: url(backgrnd.jpg) no-repeat;
    background-size: cover;
}

.cur__block {
    margin: 20px;
}

.cur__label {
    font-family: 'Raleway', sans-serif;
}

.add-currency__button {
    padding: 10px 40px;
    border: 2px white solid;
    color: white;
    background-color: black;
}

.add-currency__block {
    margin: 20px;
}

.add-currency__link {
    color: ghostwhite;
    cursor: pointer;
    text-decoration: underline;
}

@keyframes visibility {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: visible;
    }
    75% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

.add-currency__success {
    visibility: hidden;
    color: green;
}

.add-currency {
    visibility: hidden;
}